In [1]:
import pickle
import pandas as pd

ratings = pickle.load( open( "saveKidsAndAdultsUS.p", "rb" ) )

In [2]:
ratingsPD = pd.DataFrame(ratings, columns=['user', 'item', 'rating'] )
ratingsPD.head()

   user  item  rating
0     0    45    33.0
1     0    53     3.0
2     0    78   128.0
3     0   249     4.0
4     0   283    12.0

In [3]:
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
scaler = preprocessing.MinMaxScaler([1,5])
def fx(x):
    data = preprocessing.scale(x['rating'].to_numpy().reshape(-1, 1))
    scaler.fit(data)
    data=scaler.transform(data)
    x['rating']=data
    return x
ratingsPD = ratingsPD.groupby('user').apply(fx)

In [4]:
ratingsPD1= ratingsPD.groupby('user').filter(lambda x : len(x)>24)

In [5]:
ratingsPD2 = ratingsPD1.groupby('item').filter(lambda x : len(x)>3)

In [6]:
ratings =ratingsPD2

In [7]:
len(ratings)

2398974

In [8]:
ratings.groupby('user').count()

      item  rating
user
0      726     726
1     1852    1852
2      433     433
3      734     734
4      193     193
5     1814    1814
6      353     353
7      738     738
8      924     924
9      545     545
10    1191    1191
11     173     173
12    1367    1367
13     558     558
14     983     983
15     842     842
16    3437    3437
17    1327    1327
18     911     911
19     424     424
20     129     129
21     296     296
22    1730    1730
23     954     954
24    1140    1140
25     379     379
26     422     422
27     314     314
28     668     668
29    1721    1721
...    ...     ...
4449    61      61
4450   119     119
4451    62      62
4452    61      61
4453    34      34
4454   987     987
4455   153     153
4457    56      56
4458   125     125
4459   172     172
4460   277     277
4461    27      27
4462   136     136
4463    41      41
4464    18      18
4465   336     336
4467    38      38
4468    49      49
4469   322     322
4470   139     139
4471   230     230
4472  2438    2438
4473    43      43
4474   181     181
4475    29      29
4476   622     622
4478   242     242
4480    89      89
4481   107     107
4482    23      23

[4419 rows x 2 columns]

In [9]:
ratings['item'].nunique()

86343

In [10]:
import lenskit
from lenskit.algorithms.basic import Bias
from lenskit.metrics.predict import rmse

from lenskit import batch, topn, util
from lenskit import crossfold as xf
from lenskit.algorithms import Recommender, als, item_knn as knn, user_knn as uknn, funksvd
from lenskit.algorithms.basic import Fallback
from lenskit import topn
from lenskit.algorithms.basic import Bias
rm = 0
for train, test in xf.partition_users(ratings[['user', 'item', 'rating']], 5,xf.SampleFrac(0.3)):
    pred = als.BiasedMF(45)
    #rec = Recommender.adapt(pred)
    pred.fit(train)
    preds = batch.predict(pred, test)
    #print(preds['prediction'].isna().sum())
    print((rmse(preds['prediction'], preds['rating'],missing ='ignore')))
    rm+= (rmse(preds['prediction'], preds['rating'],missing ='ignore'))
print("Average RMSE: " + str(rm/5))

0.3603591009641847
0.36221810273136706
0.3522703658238461
0.3578830931563697
0.35360984816146884
Average RMSE: 0.3572681021674473

In [ ]:
import lenskit
from lenskit.algorithms.basic import Bias
from lenskit.metrics.predict import rmse

from lenskit import batch, topn, util
from lenskit import crossfold as xf
from lenskit.algorithms import Recommender, als, item_knn as knn, user_knn as uknn, funksvd
from lenskit.algorithms.basic import Fallback
from lenskit import topn
from lenskit.algorithms.basic import Bias
rm = 0
for train, test in xf.partition_users(ratings[['user', 'item', 'rating']], 5,xf.SampleFrac(0.3)):
    pred = als.ImplicitMF(45)
    #rec = Recommender.adapt(pred)
    pred.fit(train)
    preds = batch.predict(pred, test)
    #print(preds['prediction'].isna().sum())
    print((rmse(preds['prediction'], preds['rating'],missing ='ignore')))
    rm+= (rmse(preds['prediction'], preds['rating'],missing ='ignore'))
print("Average RMSE: " + str(rm/5))