In [1]:
import pickle
import pandas as pd

ratings = pickle.load( open( "saveKidsAndAdultsPL.p", "rb" ) )

In [2]:
ratingsPD = pd.DataFrame(ratings, columns=['user', 'item', 'rating'] )
ratingsPD.head()

   user  item  rating
0     0    20     5.0
1     0   134    20.0
2     0   139    12.0
3     0   224   155.0
4     0   243   174.0

In [3]:
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
scaler = preprocessing.MinMaxScaler([1,5])
def fx(x):
    data = preprocessing.scale(x['rating'].to_numpy().reshape(-1, 1))
    scaler.fit(data)
    data=scaler.transform(data)
    x['rating']=data
    return x
ratingsPD = ratingsPD.groupby('user').apply(fx)

In [4]:
ratingsPD1= ratingsPD.groupby('user').filter(lambda x : len(x)>24)

In [5]:
ratingsPD2 = ratingsPD1.groupby('item').filter(lambda x : len(x)>3)

In [6]:
ratings =ratingsPD2

In [7]:
len(ratings)

1567965

In [8]:
ratings.groupby('user').count()

      item  rating
user
0       80      80
1      523     523
2      885     885
3      654     654
4      400     400
5      912     912
6     3587    3587
7     1017    1017
8      267     267
9     1021    1021
10     289     289
11    1049    1049
12     170     170
13     360     360
14      37      37
15     657     657
16    3373    3373
17     356     356
18     543     543
19     545     545
20     287     287
21     174     174
22    1436    1436
23    1488    1488
24     569     569
25     268     268
26     413     413
27     412     412
28     453     453
29    1267    1267
...    ...     ...
2998   209     209
2999    37      37
3000    52      52
3001    35      35
3002    70      70
3003    59      59
3004   789     789
3005    23      23
3006   293     293
3007    74      74
3008   153     153
3009    83      83
3010    26      26
3011   268     268
3012   625     625
3013   199     199
3014    65      65
3015    55      55
3016   266     266
3017    29      29
3018    59      59
3019   152     152
3020    36      36
3021    42      42
3022   210     210
3024    48      48
3025    20      20
3026   165     165
3027    97      97
3028    89      89

[3006 rows x 2 columns]

In [9]:
ratings['item'].nunique()

65705

In [10]:
import lenskit
from lenskit.algorithms.basic import Bias
from lenskit.metrics.predict import rmse

from lenskit import batch, topn, util
from lenskit import crossfold as xf
from lenskit.algorithms import Recommender, als, item_knn as knn, user_knn as uknn, funksvd
from lenskit.algorithms.basic import Fallback
from lenskit import topn
from lenskit.algorithms.basic import Bias
rm = 0
for train, test in xf.partition_users(ratings[['user', 'item', 'rating']], 5,xf.SampleFrac(0.3)):
    pred = als.BiasedMF(45)
    #rec = Recommender.adapt(pred)
    pred.fit(train)
    preds = batch.predict(pred, test)
    #print(preds['prediction'].isna().sum())
    print((rmse(preds['prediction'], preds['rating'],missing ='ignore')))
    rm+= (rmse(preds['prediction'], preds['rating'],missing ='ignore'))
print("Average RMSE: " + str(rm/5))

0.3664785827325121
0.35000546666038695
0.36019084832155346
0.36055711955689346
0.36444429823990176
Average RMSE: 0.36033526310224956

In [ ]:
import lenskit
from lenskit.algorithms.basic import Bias
from lenskit.metrics.predict import rmse

from lenskit import batch, topn, util
from lenskit import crossfold as xf
from lenskit.algorithms import Recommender, als, item_knn as knn, user_knn as uknn, funksvd
from lenskit.algorithms.basic import Fallback
from lenskit import topn
from lenskit.algorithms.basic import Bias
rm = 0
for train, test in xf.partition_users(ratings[['user', 'item', 'rating']], 5,xf.SampleFrac(0.3)):
    pred = als.ImplicitMF(45)
    #rec = Recommender.adapt(pred)
    pred.fit(train)
    preds = batch.predict(pred, test)
    #print(preds['prediction'].isna().sum())
    print((rmse(preds['prediction'], preds['rating'],missing ='ignore')))
    rm+= (rmse(preds['prediction'], preds['rating'],missing ='ignore'))
print("Average RMSE: " + str(rm/5))