In [1]:
import pickle
import pandas as pd

ratings = pickle.load( open( "saveKidsM.p", "rb" ) )

In [2]:
ratingsPD = pd.DataFrame(ratings, columns=['user', 'item', 'rating'] )
ratingsPD.head()

   user  item  rating
0     0     2    56.0
1     0    10     5.0
2     0    15     3.0
3     0    26    14.0
4     0    31     2.0

In [3]:
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
scaler = preprocessing.MinMaxScaler([1,5])
def fx(x):
    data = preprocessing.scale(x['rating'].to_numpy().reshape(-1, 1))
    scaler.fit(data)
    data=scaler.transform(data)
    x['rating']=data
    return x
ratingsPD = ratingsPD.groupby('user').apply(fx)

In [4]:
ratingsPD1= ratingsPD.groupby('user').filter(lambda x : len(x)>24)

In [5]:
ratingsPD2 = ratingsPD1.groupby('item').filter(lambda x : len(x)>3)

In [6]:
ratings =ratingsPD2

In [7]:
len(ratings)

1151123

In [8]:
ratings.groupby('user').count()

      item  rating
user
0      550     550
1     1007    1007
2       75      75
3      583     583
4      407     407
5      329     329
6     1497    1497
7     1481    1481
8      317     317
9      390     390
10    1040    1040
11     390     390
12    1090    1090
13     655     655
14     334     334
15     163     163
16     115     115
17     696     696
18    1134    1134
19     837     837
20    1277    1277
21     254     254
22     822     822
23     749     749
24     264     264
25     932     932
26    1033    1033
27     254     254
28     289     289
29     442     442
...    ...     ...
2989    51      51
2990    46      46
2991    32      32
2992    65      65
2994    40      40
2996    83      83
2997    92      92
2998   195     195
2999    94      94
3003    36      36
3004   339     339
3005    30      30
3006     4       4
3007    37      37
3008    46      46
3009    48      48
3010   302     302
3011    31      31
3012   431     431
3013    26      26
3014    83      83
3015    70      70
3016   397     397
3017   119     119
3018    54      54
3019    16      16
3020   507     507
3021    55      55
3022    57      57
3023    20      20

[2966 rows x 2 columns]

In [9]:
ratings['item'].nunique()

50967

In [10]:
import lenskit
from lenskit.algorithms.basic import Bias
from lenskit.metrics.predict import rmse

from lenskit import batch, topn, util
from lenskit import crossfold as xf
from lenskit.algorithms import Recommender, als, item_knn as knn, user_knn as uknn, funksvd
from lenskit.algorithms.basic import Fallback
from lenskit import topn
from lenskit.algorithms.basic import Bias
rm = 0
for train, test in xf.partition_users(ratings[['user', 'item', 'rating']], 5,xf.SampleFrac(0.3)):
    pred = als.BiasedMF(45)
    #rec = Recommender.adapt(pred)
    pred.fit(train)
    preds = batch.predict(pred, test)
    #print(preds['prediction'].isna().sum())
    print((rmse(preds['prediction'], preds['rating'],missing ='ignore')))
    rm+= (rmse(preds['prediction'], preds['rating'],missing ='ignore'))
print("Average RMSE: " + str(rm/5))

0.39617855477723696
0.4075518759672667
0.4107476462742956
0.39953416906487016
0.41263791011837303
Average RMSE: 0.4053300312404085

In [ ]:
import lenskit
from lenskit.algorithms.basic import Bias
from lenskit.metrics.predict import rmse

from lenskit import batch, topn, util
from lenskit import crossfold as xf
from lenskit.algorithms import Recommender, als, item_knn as knn, user_knn as uknn, funksvd
from lenskit.algorithms.basic import Fallback
from lenskit import topn
from lenskit.algorithms.basic import Bias
rm = 0
for train, test in xf.partition_users(ratings[['user', 'item', 'rating']], 5,xf.SampleFrac(0.3)):
    pred = als.ImplicitMF(45)
    #rec = Recommender.adapt(pred)
    pred.fit(train)
    preds = batch.predict(pred, test)
    #print(preds['prediction'].isna().sum())
    print((rmse(preds['prediction'], preds['rating'],missing ='ignore')))
    rm+= (rmse(preds['prediction'], preds['rating'],missing ='ignore'))
print("Average RMSE: " + str(rm/5))