In [1]:
import pickle
import pandas as pd

ratings = pickle.load( open( "saveKidsAndAdultsBR.p", "rb" ) )

In [2]:
ratingsPD = pd.DataFrame(ratings, columns=['user', 'item', 'rating'] )
ratingsPD.head()

   user  item  rating
0     0     2    45.0
1     0    15    41.0
2     0    26    22.0
3     0    28    86.0
4     0    61   120.0

In [3]:
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
scaler = preprocessing.MinMaxScaler([1,5])
def fx(x):
    data = preprocessing.scale(x['rating'].to_numpy().reshape(-1, 1))
    scaler.fit(data)
    data=scaler.transform(data)
    x['rating']=data
    return x
ratingsPD = ratingsPD.groupby('user').apply(fx)

In [4]:
ratingsPD1= ratingsPD.groupby('user').filter(lambda x : len(x)>24)

In [5]:
ratingsPD2 = ratingsPD1.groupby('item').filter(lambda x : len(x)>3)

In [6]:
ratings =ratingsPD2

In [7]:
len(ratings)

1190005

In [8]:
ratings.groupby('user').count()

      item  rating
user
0      234     234
1     1519    1519
2      395     395
3      124     124
4      626     626
5      658     658
6      611     611
7      131     131
8      274     274
9      293     293
10     651     651
11     357     357
12     773     773
13    1602    1602
14     405     405
15     339     339
16     436     436
17     432     432
18     267     267
19    1456    1456
20     355     355
21     577     577
22     345     345
23     965     965
24     369     369
25     262     262
26     122     122
27    1326    1326
28     292     292
29     282     282
...    ...     ...
2676   404     404
2677    37      37
2678    28      28
2679   754     754
2680   706     706
2681    95      95
2683    85      85
2685    43      43
2686   298     298
2687   193     193
2688   252     252
2689    47      47
2690    58      58
2691    25      25
2692    75      75
2693    77      77
2694   165     165
2696    93      93
2697    25      25
2698    25      25
2699   131     131
2700    71      71
2701   436     436
2702    31      31
2703    25      25
2704   441     441
2705     9       9
2707   115     115
2708    30      30
2709    57      57

[2665 rows x 2 columns]

In [9]:
ratings['item'].nunique()

53334

In [10]:
import lenskit
from lenskit.algorithms.basic import Bias
from lenskit.metrics.predict import rmse

from lenskit import batch, topn, util
from lenskit import crossfold as xf
from lenskit.algorithms import Recommender, als, item_knn as knn, user_knn as uknn, funksvd
from lenskit.algorithms.basic import Fallback
from lenskit import topn
from lenskit.algorithms.basic import Bias
rm = 0
for train, test in xf.partition_users(ratings[['user', 'item', 'rating']], 5,xf.SampleFrac(0.3)):
    pred = als.BiasedMF(45)
    #rec = Recommender.adapt(pred)
    pred.fit(train)
    preds = batch.predict(pred, test)
    #print(preds['prediction'].isna().sum())
    print((rmse(preds['prediction'], preds['rating'],missing ='ignore')))
    rm+= (rmse(preds['prediction'], preds['rating'],missing ='ignore'))
print("Average RMSE: " + str(rm/5))

0.38580516643309354
0.38237487092554073
0.3773133623185833
0.3784403104220805
0.3779710757912762
Average RMSE: 0.3803809571781148

In [ ]:
import lenskit
from lenskit.algorithms.basic import Bias
from lenskit.metrics.predict import rmse

from lenskit import batch, topn, util
from lenskit import crossfold as xf
from lenskit.algorithms import Recommender, als, item_knn as knn, user_knn as uknn, funksvd
from lenskit.algorithms.basic import Fallback
from lenskit import topn
from lenskit.algorithms.basic import Bias
rm = 0
for train, test in xf.partition_users(ratings[['user', 'item', 'rating']], 5,xf.SampleFrac(0.3)):
    pred = als.ImplicitMF(45)
    #rec = Recommender.adapt(pred)
    pred.fit(train)
    preds = batch.predict(pred, test)
    #print(preds['prediction'].isna().sum())
    print((rmse(preds['prediction'], preds['rating'],missing ='ignore')))
    rm+= (rmse(preds['prediction'], preds['rating'],missing ='ignore'))
print("Average RMSE: " + str(rm/5))