In [1]:
import pickle
import pandas as pd

ratings = pickle.load( open( "saveKidsAndAdultsF.p", "rb" ) )

In [2]:
ratingsPD = pd.DataFrame(ratings, columns=['user', 'item', 'rating'] )
ratingsPD.head()

   user  item  rating
0     0     2     4.0
1     0    10     1.0
2     0    12    18.0
3     0    15    17.0
4     0    20     2.0

In [3]:
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
scaler = preprocessing.MinMaxScaler([1,5])
def fx(x):
    data = preprocessing.scale(x['rating'].to_numpy().reshape(-1, 1))
    scaler.fit(data)
    data=scaler.transform(data)
    x['rating']=data
    return x
ratingsPD = ratingsPD.groupby('user').apply(fx)

In [4]:
ratingsPD1= ratingsPD.groupby('user').filter(lambda x : len(x)>24)

In [5]:
ratingsPD2 = ratingsPD1.groupby('item').filter(lambda x : len(x)>3)

In [6]:
ratings =ratingsPD2

In [7]:
len(ratings)

4599436

In [8]:
ratings.groupby('user').count()

      item  rating
user
0     2288    2288
1      228     228
2     1899    1899
3      929     929
4      948     948
5     1033    1033
6      917     917
7      869     869
8     3566    3566
9      159     159
10    1036    1036
11    1093    1093
12     381     381
13     545     545
14    1265    1265
15     320     320
16    5309    5309
17    1083    1083
18     390     390
19     482     482
20    1338    1338
21    1042    1042
22    2762    2762
23     512     512
24     269     269
25     431     431
26     259     259
27     482     482
28     168     168
29     444     444
...    ...     ...
8653   144     144
8654   344     344
8655    75      75
8656   480     480
8658    43      43
8659   532     532
8660   130     130
8662   115     115
8663    28      28
8665   170     170
8666    31      31
8667    38      38
8668   534     534
8669    31      31
8670    35      35
8674    45      45
8675    24      24
8676    48      48
8678   161     161
8679    89      89
8680    30      30
8681    24      24
8682   171     171
8683    67      67
8684    93      93
8685   101     101
8686    32      32
8687    91      91
8689   131     131
8691   120     120

[8571 rows x 2 columns]

In [9]:
ratings['item'].nunique()

133886

In [10]:
import lenskit
from lenskit.algorithms.basic import Bias
from lenskit.metrics.predict import rmse

from lenskit import batch, topn, util
from lenskit import crossfold as xf
from lenskit.algorithms import Recommender, als, item_knn as knn, user_knn as uknn, funksvd
from lenskit.algorithms.basic import Fallback
from lenskit import topn
from lenskit.algorithms.basic import Bias
rm = 0
for train, test in xf.partition_users(ratings[['user', 'item', 'rating']], 5,xf.SampleFrac(0.3)):
    pred = als.BiasedMF(45)
    #rec = Recommender.adapt(pred)
    pred.fit(train)
    preds = batch.predict(pred, test)
    #print(preds['prediction'].isna().sum())
    print((rmse(preds['prediction'], preds['rating'],missing ='ignore')))
    rm+= (rmse(preds['prediction'], preds['rating'],missing ='ignore'))
print("Average RMSE: " + str(rm/5))

0.35259769545906505
0.34653032490092234
0.3506426344870277
0.3625062900531551
0.3582443196649809
Average RMSE: 0.3541042529130302

In [ ]:
import lenskit
from lenskit.algorithms.basic import Bias
from lenskit.metrics.predict import rmse

from lenskit import batch, topn, util
from lenskit import crossfold as xf
from lenskit.algorithms import Recommender, als, item_knn as knn, user_knn as uknn, funksvd
from lenskit.algorithms.basic import Fallback
from lenskit import topn
from lenskit.algorithms.basic import Bias
rm = 0
for train, test in xf.partition_users(ratings[['user', 'item', 'rating']], 5,xf.SampleFrac(0.3)):
    pred = als.ImplicitMF(45)
    #rec = Recommender.adapt(pred)
    pred.fit(train)
    preds = batch.predict(pred, test)
    #print(preds['prediction'].isna().sum())
    print((rmse(preds['prediction'], preds['rating'],missing ='ignore')))
    rm+= (rmse(preds['prediction'], preds['rating'],missing ='ignore'))
print("Average RMSE: " + str(rm/5))