In [2]:
import pickle
import pandas as pd

ratings = pickle.load( open( "savekidsBR.p", "rb" ) )

In [3]:
ratingsPD = pd.DataFrame(ratings, columns=['user', 'item', 'rating'] )
ratingsPD.head()

   user  item  rating
0     0    15    21.0
1     0    31    13.0
2     0    53    13.0
3     0    98     1.0
4     0   126     1.0

In [4]:
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
scaler = preprocessing.MinMaxScaler([1,5])
def fx(x):
    data = preprocessing.scale(x['rating'].to_numpy().reshape(-1, 1))
    scaler.fit(data)
    data=scaler.transform(data)
    x['rating']=data
    return x
ratingsPD = ratingsPD.groupby('user').apply(fx)

In [5]:
ratingsPD1= ratingsPD.groupby('user').filter(lambda x : len(x)>24)

In [6]:
ratingsPD2 = ratingsPD1.groupby('item').filter(lambda x : len(x)>3)

In [7]:
ratings =ratingsPD2

In [8]:
len(ratings)

276667

In [9]:
ratings.groupby('user').count()

      item  rating
user
0      762     762
1      714     714
2      342     342
3      515     515
4      225     225
5      937     937
6      195     195
7     1222    1222
8      177     177
9      371     371
10     435     435
11     916     916
12     927     927
13     367     367
14     132     132
15     598     598
16     757     757
17      25      25
18     288     288
19     199     199
20     759     759
21    1509    1509
22     238     238
23    1698    1698
24     474     474
25     103     103
26     603     603
27     841     841
28      64      64
29     223     223
...    ...     ...
864    271     271
865     42      42
866     87      87
867    656     656
868     60      60
869     19      19
870    254     254
871   1331    1331
872     37      37
873     87      87
874     63      63
875     61      61
876     34      34
877    626     626
878    657     657
880     77      77
882     36      36
883    173     173
884    207     207
885     42      42
886     24      24
887    155     155
888     76      76
889     24      24
890    351     351
891     13      13
892     23      23
893    295     295
894     28      28
895     55      55

[870 rows x 2 columns]

In [10]:
ratings['item'].nunique()

18994

In [11]:
import lenskit
from lenskit.algorithms.basic import Bias
from lenskit.metrics.predict import rmse

from lenskit import batch, topn, util
from lenskit import crossfold as xf
from lenskit.algorithms import Recommender, als, item_knn as knn, user_knn as uknn, funksvd
from lenskit.algorithms.basic import Fallback
from lenskit import topn
from lenskit.algorithms.basic import Bias
rm = 0
for train, test in xf.partition_users(ratings[['user', 'item', 'rating']], 5,xf.SampleFrac(0.3)):
    pred = als.BiasedMF(45)
    #rec = Recommender.adapt(pred)
    pred.fit(train)
    preds = batch.predict(pred, test)
    #print(preds['prediction'].isna().sum())
    print((rmse(preds['prediction'], preds['rating'],missing ='ignore')))
    rm+= (rmse(preds['prediction'], preds['rating'],missing ='ignore'))
print("Average RMSE: " + str(rm/5))

0.42982905683882955
0.4089095404138229
0.42101531847895973
0.4377726667227399
0.40330224286166133
Average RMSE: 0.42016576506320275

In [ ]:
import lenskit
from lenskit.algorithms.basic import Bias
from lenskit.metrics.predict import rmse

from lenskit import batch, topn, util
from lenskit import crossfold as xf
from lenskit.algorithms import Recommender, als, item_knn as knn, user_knn as uknn, funksvd
from lenskit.algorithms.basic import Fallback
from lenskit import topn
from lenskit.algorithms.basic import Bias
rm = 0
for train, test in xf.partition_users(ratings[['user', 'item', 'rating']], 5,xf.SampleFrac(0.3)):
    pred = als.ImplicitMF(45)
    #rec = Recommender.adapt(pred)
    pred.fit(train)
    preds = batch.predict(pred, test)
    #print(preds['prediction'].isna().sum())
    print((rmse(preds['prediction'], preds['rating'],missing ='ignore')))
    rm+= (rmse(preds['prediction'], preds['rating'],missing ='ignore'))
print("Average RMSE: " + str(rm/5))