In [39]:
import scipy.sparse
sparse_matrix = scipy.sparse.load_npz('/tmp/kids_matrix.npz')

In [40]:
entries = []
for entry in sparse_matrix:
    entries.append(entry)

In [41]:
ratings = []
userID = 0
itemNum = 0
from tqdm import tqdm
from time import sleep
with tqdm(total=8500) as pbar:
    for sm in entries:
        itemNum = 0
        ndarray = sm.toarray()
        #listOflist = ndarray.tolist()
        for entry in ndarray:
            for entr in entry:
                #print(entr)
                if entr > 0:
                    ratings.append([userID,itemNum,entr])
                itemNum +=1 
        userID += 1
        pbar.update(1)

8576it [24:10,  6.05it/s]

In [42]:
import pickle
pickle.dump( ratings, open( "save.p", "wb" ) )

In [10]:
import pickle

ratings = pickle.load( open( "save.p", "rb" ) )

In [11]:
len(ratings)

4100867

In [13]:
import pandas as pd
df = pd.DataFrame.from_records(ratings, columns=['user', 'item', 'rating'] )

In [124]:
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
normalized_X = preprocessing.scale(df['rating'].to_numpy().reshape(-1, 1))
#scaler = MinMaxScaler([1,1000])
#scaler.fit(df['rating'].to_numpy().reshape(-1, 1))
#data=scaler.transform(df['rating'].to_numpy().reshape(-1, 1))

In [127]:
df['rating'].to_numpy().mean()

1.1458613174483165

In [101]:
df['rating']=data

In [14]:
ratings = df

In [103]:
ratings

         user    item    rating
0           0      15  1.017904
1           0      47  1.071616
2           0      52  1.116376
3           0      57  1.008952
4           0      77  1.008952
5           0     130  1.089520
6           0     151  1.062664
7           0     164  1.053712
8           0     166  1.000000
9           0     228  1.232752
10          0     229  1.062664
11          0     230  1.000000
12          0     239  1.161136
13          0     240  1.008952
14          0     264  1.098472
15          0     277  1.026856
16          0     340  1.008952
17          0     346  1.295416
18          0     390  1.000000
19          0     397  1.008952
20          0     439  1.000000
21          0     595  1.152184
22          0     618  1.026856
23          0     645  1.000000
24          0     646  1.017904
25          0     647  1.000000
26          0     658  1.322273
27          0     668  1.080568
28          0     725  1.071616
29          0     750  1.017904
...       ...     ...       ...
4100837  8574   17707  1.053712
4100838  8574   52852  1.008952
4100839  8574  257565  1.000000
4100840  8575     260  1.000000
4100841  8575     333  1.000000
4100842  8575    3441  1.000000
4100843  8575    3567  1.000000
4100844  8575    5841  1.017904
4100845  8575    6930  1.000000
4100846  8575    8561  1.000000
4100847  8575    8698  1.000000
4100848  8575   13365  1.000000
4100849  8575   13953  1.000000
4100850  8575   14086  1.000000
4100851  8575   14693  1.000000
4100852  8575   20988  1.000000
4100853  8575   21970  1.008952
4100854  8575   23101  1.000000
4100855  8575   23921  1.008952
4100856  8575   25600  1.008952
4100857  8575   32798  1.000000
4100858  8575   39317  1.017904
4100859  8575   73351  1.000000
4100860  8575   76761  1.000000
4100861  8575   79926  1.000000
4100862  8575  127291  1.008952
4100863  8575  130576  1.000000
4100864  8575  161166  1.000000
4100865  8575  174448  1.000000
4100866  8575  198434  1.000000

[4100867 rows x 3 columns]

In [110]:

from lenskit import batch, topn, util
from lenskit import crossfold as xf
from lenskit.algorithms import Recommender, als, item_knn as knn, user_knn as uknn, funksvd
from lenskit.algorithms.basic import Fallback
from lenskit import topn
from lenskit.algorithms.basic import Bias

algo_als = funksvd.FunkSVD(50)
algo_als2 = als.BiasedMF(50)

def eval(aname, algo, train, test):
    base = Bias(damping=5)
    #algo = Fallback(algo_als,algo_als2, base)
    fittable = util.clone(algo)
    fittable = Recommender.adapt(fittable)
    fittable.fit(train)
    users = test.user.unique()
    # now we run the recommender
    recs = batch.predict(fittable, test)
    # add the algorithm name for analyzability
    recs['Algorithm'] = aname
    return recs

In [111]:

all_recs = []
test_data = []

for train, test in xf.partition_users(ratings[['user', 'item', 'rating']], 1, xf.SampleFrac(0.3)):
    test_data.append(test)
    #all_recs.append(eval('ItemItem', algo_ii, train, test))
    #all_recs.append(eval('UserUser',algo_uu, train, test))
    all_recs.append(eval('MF', algo_als, train, test))

In [112]:
all_recs = pd.concat(all_recs, ignore_index=True)
test_data = pd.concat(test_data, ignore_index=True)

In [117]:
test_data

         user    item    rating
0           0   11209  1.000000
1           0   18438  1.000000
2           0    1440  1.196944
3           0    8401  1.008952
4           0   24089  1.000000
5           0   25401  1.000000
6           0    3298  1.331225
7           0    3730  1.008952
8           0  308747  1.000000
9           0   12347  1.000000
10          0   10195  1.071616
11          0   75399  1.000000
12          0     264  1.098472
13          0   44319  1.000000
14          0  309272  1.000000
15          0   15874  1.089520
16          0   11388  1.026856
17          0    2186  1.107424
18          0  359754  1.053712
19          0   64365  1.000000
20          0   25748  1.000000
21          0  181494  1.080568
22          0  171729  1.000000
23          0    3963  1.098472
24          0   19621  1.080568
25          0    3159  1.000000
26          0   81688  1.116376
27          0  203922  1.000000
28          0   11157  1.000000
29          0   56389  1.000000
...       ...     ...       ...
1230278  8573    5830  1.000000
1230279  8573   67352  1.000000
1230280  8573   31833  1.000000
1230281  8573   80173  1.000000
1230282  8573   35147  1.000000
1230283  8573    3179  1.000000
1230284  8573     307  1.000000
1230285  8573    6446  1.000000
1230286  8573   14166  1.000000
1230287  8573    3735  1.000000
1230288  8573    3980  1.000000
1230289  8573    1545  1.000000
1230290  8573    4107  1.000000
1230291  8573     260  1.000000
1230292  8573   13517  1.000000
1230293  8573   61372  1.000000
1230294  8573   34384  1.000000
1230295  8574    3418  1.044760
1230296  8574    2514  1.089520
1230297  8574   11615  1.000000
1230298  8574   17707  1.053712
1230299  8574     435  1.017904
1230300  8575   23101  1.000000
1230301  8575  174448  1.000000
1230302  8575   20988  1.000000
1230303  8575   73351  1.000000
1230304  8575    6930  1.000000
1230305  8575   32798  1.000000
1230306  8575     333  1.000000
1230307  8575    3567  1.000000

[1230308 rows x 3 columns]

In [113]:
new_df = pd.merge(all_recs, test_data,  how='right', left_on=['item','user'], right_on = ['item','user'])

In [114]:
new_df.head()

   user   item  rating_x  prediction Algorithm  rating_y
0     0  11209  1.000000    1.102631        MF  1.000000
1     0  18438  1.000000    0.966144        MF  1.000000
2     0   1440  1.196944    1.051974        MF  1.196944
3     0   8401  1.008952    1.107828        MF  1.008952
4     0  24089  1.000000    1.050047        MF  1.000000

In [115]:
from lenskit.metrics.predict import rmse
user_rmse = new_df.groupby(['Algorithm', 'user']).apply(lambda df: rmse(df['prediction'], df['rating_x']))
user_rmse = user_rmse.reset_index(name='RMSE')

In [116]:
user_rmse.mean()

user    4287.500000
RMSE       0.675026
dtype: float64

In [52]:
import pickle
import pandas as pd

ratings = pickle.load( open( "save.p", "rb" ) )
ratings = pd.DataFrame.from_records(ratings, columns=['user', 'item', 'rating'] )
ratings = ratings.drop([2138581])
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
scaler = preprocessing.MinMaxScaler([0,1000])
scaler.fit(ratings['rating'].to_numpy().reshape(-1, 1))
data=scaler.transform(ratings['rating'].to_numpy().reshape(-1, 1))
ratings['rating']=data

In [53]:
ratings.mean()

user       3415.739856
item      49887.006743
rating        0.425623
dtype: float64

In [54]:
import lenskit
from lenskit.algorithms.basic import Bias
from lenskit.metrics.predict import rmse

from lenskit import batch, topn, util
from lenskit import crossfold as xf
from lenskit.algorithms import Recommender, als, item_knn as knn, user_knn as uknn, funksvd
from lenskit.algorithms.basic import Fallback
from lenskit import topn
from lenskit.algorithms.basic import Bias


for train, test in xf.partition_users(ratings[['user', 'item', 'rating']], 5, xf.SampleFrac(0.3)):
    pred = als.BiasedMF(50)
    rec = Recommender.adapt(pred)
    rec.fit(train)
    preds = batch.predict(rec, test)
    preds.head()
    print(rmse(preds['prediction'], preds['rating']))

2.3196477921633845
2.4540486074030867
2.9414026184501223
2.823446943224309
2.7250712644456514